# Git
**/.git
**/.gitignore

# Dependencies
**/node_modules
**/bun.lock
**/pnpm-lock.yaml

# Build outputs
**/.next
**/.turbo
**/dist
**/build
**/out

# Development
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/pnpm-debug.log

# IDE
**/.vscode
**/.idea
**/.vs
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user

# Testing
**/coverage
**/.nyc_output

# Docker
**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*

# Prisma
**/prisma/migrations

# Misc
**/charts
**/secrets.dev.yaml
**/values.dev.yaml
**/*.dbmdl
**/*.jfm
LICENSE
README.md
