# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_NAME="runner"

MYSQL_URL="mysql://MYSQL_USER:MYSQL_PASSWORD@MYSQL_HOST:MYSQL_PORT/MYSQL_NAME"
MYSQL_USER="USERNAME_OF_YOUR_MYSQL"
MYSQL_PASSWORD="PASSWORD_OF_YOUR_MYSQL"
MYSQL_NAME="NAME_OF_YOUR_MYSQL"
MYSQL_HOST="HOST_OF_YOUR_MYSQL"
MYSQL_PORT="PORT_OF_YOUR_MYSQL"

REDIS_URL="redis://REDIS_HOST:REDIS_PORT"
REDIS_HOST="HOST_OF_YOUR_REDIS"
REDIS_PORT="PORT_OF_YOUR_REDIS"
REDIS_PASSWORD="PASSWORD_OF_YOUR_REDIS"
REDIS_DB="0"
REDIS_ACL_USER="USERNAME_OF_YOUR_REDIS_ACL_USER"
REDIS_ACL_PASSWORD="PASSWORD_OF_YOUR_REDIS_ACL_USER"

BETTER_AUTH_SECRET="RANDOM_STRING_USED_TO_SIGN_AND_ENCRYPT_AUTH_TOKENS"
BETTER_AUTH_URL="YOUR_AUTH_URL_IF_YOU_HAVE_ONE"

RESEND_API_KEY="YOUR_RESEND_API_KEY"

NEXT_PUBLIC_AMAP_KEY="YOUR_AMAP_KEY"
NEXT_PUBLIC_AMAP_SECURITY_CODE="YOUR_AMAP_SECURITY_CODE"

