# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://DATABASE_USER:DATABASE_PASSWORD@DATABASE_HOST:DATABASE_PORT/DATABASE_NAME"
DATABASE_USER="USERNAME_OF_YOUR_DATABASE"
DATABASE_PASSWORD="PASSWORD_OF_YOUR_DATABASE"
DATABASE_NAME="NAME_OF_YOUR_DATABASE"
DATABASE_HOST="HOST_OF_YOUR_DATABASE"
DATABASE_PORT="PORT_OF_YOUR_DATABASE"

BETTER_AUTH_SECRET="RANDOM_STRING_USED_TO_SIGN_AND_ENCRYPT_AUTH_TOKENS"
BETTER_AUTH_URL="YOUR_AUTH_URL_IF_YOU_HAVE_ONE"
